@media (max-width: 991px) {
    .promo {
            &__wrapper{
                margin-right: 10px;
            }
        }
    .consultation {
        &__title{
            margin-left: 10px;
        }
        &__descr {
            margin-left: 10px;
        }
        &__feed-form{
            margin-left: 10px;
        }
    }
    
}
@media (max-width: 767px) {
    .header{
        justify-content: space-around;
        &__logo {
            width: 200px;
            img {
                width: 100%;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo
        {
            &__wrapper{
                margin-right: 10px;
            }
        }
    .advantages {
        &__wrapper {
            justify-content: space-around;
        }
        &__item{
            max-width: 170px;
        }
    }
    .consultation {
        &__title{
            margin-left: 10px;
        }
        &__descr {
            margin-left: 10px;
        }
        &__feed-form{
            margin-left: 10px;
        }
    }
    .title {
        &_left{
            font-size: 26px;
        }
    }
}
@media (max-width: 575px) {
    .header{
        justify-content: space-around;
        &__logo {
            width: 180px;
            img {
                width: 100%;
            }
        }
        &__phone {
            font-size: 12px;
        }
        &__button{
            width: 120px;
            font-size: 10px;
        }
    }
    .promo
        {
            &__wrapper{
                margin-top: 70px;
                margin-right: 10px;
            }
            &__header {
                font-size: 35px;
                &__official {
                    font-size: 10px;
                    span {
                        font-size: 15px;
                    }
                }
            }
            &__subheader{
                margin-top: 5px;
                font-size: 17px;
            }
            &__icons{
                width: 350px;
            }
            &__icon{
                font-size: 12px;
                img {
                    width: 35%;
                }
            }
        }
    .advantages {
        &__wrapper {
            justify-content: space-around;
        }
        &__item{
            max-width: 160px;
        }
        &__subtitle{
            font-size: 14px;
        }
        &__descr {
            font-size: 14px;
        }
    }
    .consultation {
        &__title{
            font-size: 26px;
            margin-left: 10px;
        }
        &__descr {
            margin-left: 10px;
        }
        &__feed-form{
            margin-left: 10px;
        }
    }
}
@media (max-width: 400px) {
    .header{
        margin: 0 5px;
    }
    .promo {
        &__header{
            font-size: 22px;
        }
        &__subheader{
            font-size: 12px;
            margin-top: -10px;
        }
        &__icons{
            margin-top: 35px;
        }
    }
    .advantages{
        &__title{
            font-size: 25px;
        }
        &__wrapper{
            flex-direction: column;
        }
        &__item {
            max-width: 100%;
        }
    }
}